.wrapper {
    .container {
        .box {
            max-width: 128rem;
            margin: 0 auto;
            padding: 6.4rem 0;
            font: normal normal 1.6rem/1 Roboto, Helvetica, Arial, sans-serif;
            color: rgba(255, 255, 255, 1);
            overflow: hidden;
            .hireMe {
                margin: 1.6rem auto;
                padding: 0.8rem;
                border-radius: 0.4rem;
                font: normal 500 1.6rem/1 Roboto, Helvetica, Arial, sans-serif;
            }

        }

    }
}
