._container {
    max-width: 128rem;
    margin: 0 auto;
}

._box {
    padding: 6.4rem 0;
    overflow: hidden;
}

._workWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}