@import './src/common/styles/sass/variables';

.wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $bgColorSecond;
    .container {
        max-width: 128rem;
        margin: 0 auto;
        padding: 2.4rem 0;
    }
}