._wrapper {
    width: 100%;
    padding: 1.6rem 0;
    background-color: rgba(31, 31, 32, 1);
}

._container {
    max-width: 128rem;
    margin: 0 auto;
}

._box {
    display: block;
    float: left;
    overflow: hidden;
}