._container {
    max-width: 128rem;
    margin: 0 auto;
    font: normal normal 1.6rem/1 Roboto, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
}
._box {
    padding: 6.4rem 0;
    overflow: hidden;
}
._socialWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 1.6rem auto;
}