@import './src/common/styles/sass/variables';

.wrapper {
    background-color: $bgColorSecond;
    .container {
        max-width: 128rem;
        margin: 0 auto;
        font: normal normal 1.6rem/1 Roboto, Helvetica, Arial, sans-serif;
        color: rgba(255, 255, 255, 1);
        .box {
            padding: 6.4rem 0;
            overflow: hidden;
            > h2 {
                font: normal 600 2rem/1.5 Jost, sans-serif;
                letter-spacing: 0.3rem;
                cursor: pointer;
            }
            > p {
                font: normal 400 1.2rem/1.5 sans-serif;
                letter-spacing: 0.05rem;
            }
            .socialWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 320px;
                margin: 1.6rem auto;
            }
        }
    }

}

