._container {
    max-width: 128rem;
    margin: 0 auto;
}

._box {
    padding: 6.4rem 0;
    overflow: hidden;
}

._skillsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
}