._container {
    max-width: 128rem;
    margin: 0 auto;
}

._box {
    padding: 6.4rem 0.8rem;
    overflow: hidden;
}

._skillsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0.8rem;
}