@import './src/common/styles/sass/variables';

.wrapper {
    margin: 15% 0 0;
    @media screen and (min-width: 960px){
        margin: 0;
    };
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding: 0 1.6rem;
        margin: 0;
        font: normal 500 1.6rem/1 Jost, sans-serif;
        color: $textColor;
        list-style: none;
        @media screen and (min-width: 960px){
            flex-direction: row;
            justify-content: space-between;
            margin: 1.6rem 0;

        }
        .item {
            display: block;
            margin: 0;
            padding: 0;
            overflow: hidden;
            line-height: 0;
            transition: 300ms;
            &:last-child {
                margin-right: 0;
            }
            @media screen and (min-width: 960px) {
                margin: 0 1.6rem;
                padding: 1.6rem;
                &:last-child {
                    margin-right: 1.6rem;
                }
            }
            .linkcell {
                position: relative;
                display: inline-block;
                height: 0;
                padding: 0;
                border-bottom: 0.1rem solid transparent;
                font: normal 400 1.6rem/1 Jost, sans-serif;
                color: $menuTextColor;
                text-decoration: none;
                letter-spacing: 0.1rem;
                overflow: hidden;
                outline: none;
                transition: 300ms;
                cursor: pointer;
                @media screen and (min-width: 960px) {
                    height: auto;
                }
                &:focus {
                    color: $textColor;
                    border-color: $primaryColor;
                }
                &:active {
                    border-color: $primaryColor;
                    color: $activeLinkColor;
                }
                &:hover {
                    border-color: $primaryColor;
                    color: $textColor;

                }

            }
            .linkcellBurger {
                height: auto;
                font-size: 2rem;
                line-height: 1;
                padding: 0.4rem 0;
                margin: 0.8rem 0;

            }
            .activeNavItem {
                border-color: $primaryColor;
            }
        }
        .itemBurger {
            padding: 0.8rem 0;
        }
    }

}




