@import './src/common/styles/sass/variables';

.wrapper {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding: 0 0.8rem;
        margin: 0;
        font: normal 500 1.6rem/1 Jost, sans-serif;
        color: $textColor;
        list-style: none;
        .item {
            margin: 0 5% 0 0;
            padding: 0;
            overflow: hidden;
            line-height: 0;
            &:last-child {
                margin-right: 1.6rem;
            }
            .linkcell {
                position: relative;
                display: block;
                padding: 0.4rem 0;
                border-bottom: 0.1rem solid transparent;
                font: normal 400 1.6rem/1 Jost, sans-serif;
                color: $menuTextColor;
                text-decoration: none;
                letter-spacing: 0.1rem;
                overflow: hidden;
                outline: none;
                transition: 300ms;
                cursor: pointer;
                &:focus {
                    color: $textColor;
                    border-color: $primaryColor;
                }
                &:active, .activeNavItem {
                    color: $activeLinkColor;
                }
                &:hover {
                    border-color: $primaryColor;
                    color: $textColor;

                }
            }
        }
    }

}




