
html {
  font: normal 10px/10px sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
}

.block_inline {
  display: inline-block;
}

.block {
  display: block;
}

.block_flex {
  display: flex;
}
.flex_col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.dark1 {
  background-color: rgba(37, 37, 39, 1);
}

.dark2 {
  background-color: rgba(31, 31, 32, 1);
}

/* Typography */

h2 {
  font: normal 500 2.8rem/1.5 Jost, sans-serif;
  color: rgba(255, 255, 255, 1);
}
h3 {
  font: normal 500 2rem/1.5 Jost, sans-serif;
  color: rgba(255, 255, 255, 1);
}

p {
  font: normal 400 1.6rem/1.2 'PT Sans', sans-serif;
  color: rgba(216, 216, 216, 1)
}

img {
  color: rgba(255, 255, 255, 1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
